<% include partials/header %>
  <div class="container-fluid pb-3" style="background-color:#37354a">

    <div class="row mb-2" id="mainResultRow">
      <div class="col-lg-12" style="padding-bottom: 2%; padding-top:2%; background-color: #eee; color:#37354a; font-family:changa"">
        <button class="btn-dark btn-lg">Results:</button>
        <button class="btn-light btn-lg" style="font-family: Montserrat" >The emotional temperature of '<%= searchPhrase %>' is:  <span style="color:#7069ae; font-family: Changa; font-size:125%; font-weight: 400"><%= oneWordSentiment %></span></button>
      </div>
    </div>

    <div class="row mb-2" id="row1" style="margin-top:0">
      <div class="col-sm" style="background-image: linear-gradient(#7069ae, #595297)">
        <h4 style="padding-top: 1%; color:#fff;font-family:changa">Quick Look:</h4>
        <p style="color:#eee">Here is a quick overview of the data.</p>
        <ul class="list-group shadow-sm" style="margin-bottom: 2%">
          <li class="list-group-item">Sampled Tweets: <%= scores.length %></li>
          <li class="list-group-item">Average Sentiment: <%= avg %></li>
          <li class="list-group-item">Number of Positive Tweets: <%= numPosTweets %></li>
          <li class="list-group-item">Number of Negative Tweets: <%= numNegTweets %> </li>
          <li class="list-group-item">Number of Neutral Tweets: <%= numNeutralTweets %> </li>

        </ul>
      </div>
      <div class="col-lg" style="background-color:#eee">
        <h4 style="margin-top:1%; color:#7069ae;font-family:changa">Social Pulse:</h4>
        <iframe width="700" height="400" frameborder="0" scrolling="no" src="//plot.ly/~socialpulse/0.embed"></iframe>
      </div>
    </div>
    <!-- end of row div -->
    <div class="row" id="row2" style="margin-top:2%; margin-bottom-2%">
      <div class="col-sm" style="background-color:#8781bd">
        <h4 style="margin-top:2%; color:#fff;font-family:changa">Next Data Section:</h4>
        <p>These columns can be differently proportion or increased or decreased.</p>
      </div>
      <div class="col-lg" style="padding-top: 2%; background-color:#eee">
        Put a general graph here..
      </div>
    </div>
    <!-- end of row div -->
    <div class="row" id="row3" style="margin-top:2%; margin-bottom-2%">
      <div class="col-sm" style="background-color:#8781bd">
        <h4 style="margin-top:2%; color:#fff;font-family:changa">Next Data Section</h4>
        <p>More tweet data.</p>
      </div>
      <div class="col-lg" style="padding-top: 2%; background-color:#eee">
        Put a general graph here..
      </div>
    </div>
    <!-- end of row div -->
    <div class="row" id="row3" style="margin-top:2%; margin-bottom-2%">
      <div class="col-sm-12" style="background-color:#eee">
        <h4 style="margin-top:1%; color:#7069ae;font-family:changa">Export Options</h4>
        <p>Export options go here</p>
      </div>
    </div>
    <!-- end of row div -->
  </div>
  <!-- end of container div -->


<% include partials/footer %>
